@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "screens/login.css";
@import "screens/friendscreen.css";
@import "screens/initial.css";
@import "screens/findscreen.css";
@import "screens/morescreen.css";
@import "components/headertitle.css";
@import "components/friendusercomponent.css";
@import "components/movebtn.css";
body {
  height: 100%;
  width: 100%;
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
}
