.find-icon {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}
.find-icon__name {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 45px;
}
.n {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find__line {
  padding: 0px 25px;
}
.find__line-center {
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ced4da;
}
.find__line__title {
  color: gray;
}
.find__line__move {
  display: flex;
  align-items: center;
}
.h-5 {
  margin-top: 1px;
}
.open_chat {
  display: flex;
  flex-direction: column;
}
.open_chat__room {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.open_chat_title {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}
.open_chat__room_img {
  margin-right: 40px;
  border-radius: 10px;
}
.open_chat_title span {
  margin-bottom: 5px;
}
.open_chat_title_mem {
  font-size: 14px;
}
