.more-body {
  display: flex;
  flex-direction: column;
}
.more-icon {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}
.more-profile {
  display: flex;
  justify-content: space-between;
}
.suggestions-title {
  margin-bottom: 25px;
}
.suggestions {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.suggestions img {
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 38px;
}
.suggestions-content {
  color: gray;
  font-size: 15px;
  margin-left: 35px;
}
.suggestions-content span {
  margin-right: 32px;
}
