/* 2번째 페이지 상단  */
.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-bottom: 15px;
  padding-top: 35px;
}
.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
